@import "src/styles.scss";

.skill {
  // width: clamp(7rem, 10rem, 12rem);
  // height: clamp(7rem, 10rem, 12rem);
  background-color: $background-color-lighter;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 10px 30px 0 $inset-shadow;

  &:hover {
    background-color: $action-color;
    box-shadow: 5px 10px 30px 0 $action-shadow;
    cursor: pointer;

    .skill__img {
      transform: translateY(-2px);
    }

    .skill__name {
        transform: translateY(-2px);
    }
  }

  .skill__img {
    transition: transform 250ms ease-in-out;
    align-self: center;
    max-height: 6rem;
    margin-bottom: 2rem;
  }

  .skill__name {
    transition: transform 250ms ease-in-out;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.skill--back {
  display: grid;
}
