<div class="skill" [@flipAnimation]="isClicked">
<!-- <div class="skill" [ngClass]="{ clicked: isClicked }" [@flipAnimation]="isClicked"> -->
  <div [hidden]="isClicked">
      <div [@showFrontAnimation]="isClicked">
        <img
          [src]="'assets/img/skills/' + skill.imageName"
          alt="skill image"
          class="skill__img"
        />
        <h2 class="skill__name">{{ skill.name }}</h2>
      </div>
  </div>
  <div [hidden]="!isClicked">
    <div [@showBackAnimation]="isClicked">
      <p>{{skill.percentage}}</p>
      <p>{{skill.description}}</p>
      <p>{{skill.experience}}</p>
    </div>
  </div>
</div>
