@import "src/styles.scss";

.btn {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  // color: transparent;
  font-weight: bolder;
  border-radius: 8px;
  transition: transform 150ms ease-in;
  font-size: 1em;

  &:hover {
    cursor: pointer;
    transform: translateY(-4px);
  }

  .btn__icon {
    margin-left: 1em;
  }
}

.primary {
  background: linear-gradient(135deg, $action-color-lighter, $action-color);
  color: $heading-color;
  box-shadow: none;

  //   box-shadow: 0 6px 15px -4px $action-color;

  &:hover {
    box-shadow: 0 8px 20px -4px $action-color;
  }
}

.outlined {
  color: $action-color-lighter;
  background: transparent;
  border: 1px solid $action-color-lighter;

  &:hover {
    transform: translateY(0px);
    color: $heading-color;
    background: linear-gradient(135deg, $action-color-lighter, $action-color);
  }
}

.none {
  display: none !important;
}

.inline {
  display: inline;
}

.block {
  display: block;
  width: 100%;
}
