@import "src/styles.scss";

.btn {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  // color: transparent;
  font-weight: 400;
  border-radius: 8px;
  transition: transform 200ms ease-out;
  font-size: 1em;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  .btn__icon {
    margin-left: 1em;
  }
}

.primary {
  // background: linear-gradient(135deg, $action-color-lighter, red);
  background: linear-gradient(-45deg, $background-color-lightest, $background-color-lighter, $action-color, $action-color-lighter);
	background-size: 400% 400%;
  color: $heading-color;
  box-shadow: none;

  //   box-shadow: 0 6px 15px -4px $action-color;

  &:hover {
    animation: animateBackground 3s ease-in-out;
    box-shadow: 0 6px 20px 0px $action-shadow;
  }
}

@keyframes animateBackground {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.outlined {
  color: $action-color-lighter;
  background: transparent;
  border: 1px solid $action-color-lighter;

  &:hover {
    transform: translateY(0px);
    color: $heading-color;
    background: linear-gradient(135deg, $action-color-lighter, $action-color);
  }
}

.none {
  display: none !important;
}

.inline {
  display: inline;
}

.block {
  display: block;
  width: 100%;
}
