<footer>
  <div class="footer__row">
    <span class="footer__hr"></span>
    <div class="footer__icons">
      <fa-icon [icon]="linkedIn" class="social-icons"></fa-icon>
      <fa-icon [icon]="twitter" class="social-icons"></fa-icon>
      <fa-icon [icon]="github" class="social-icons"></fa-icon>
      <fa-icon [icon]="behance" class="social-icons"></fa-icon>
    </div>
    <span class="footer__hr"></span>
  </div>
  <div class="footer__copyright">Han3D @ 2022 All Rights Reserved</div>
</footer>
