<footer>
  <div class="footer__row">
    <span class="footer__hr"></span>
    <div class="footer__icons">
      <a href="https://www.linkedin.com/in/johannes-hueber-66731924b/" target="_blank">
        <fa-icon [icon]="linkedIn" class="social-icons"></fa-icon>
      </a>
      <a href="https://twitter.com/han3d_hue" target="_blank">
        <fa-icon [icon]="twitter" class="social-icons"></fa-icon>
      </a>
      <a href="https://github.com/Han3D" target="_blank">
        <fa-icon [icon]="github" class="social-icons"></fa-icon>
      </a>
      <a href="https://www.behance.net/johanneshueber" target="_blank">
        <fa-icon [icon]="behance" class="social-icons"></fa-icon>
      </a>
    </div>
    <span class="footer__hr"></span>
  </div>
  <div class="footer__copyright">Han3D @ 2022 All Rights Reserved</div>
</footer>
