<div class="lighter-background">
  <div class="container">
    <app-section-header heading="Learning Roadmap"></app-section-header>
    <div class="two-column">
      <div class="columns">
        <p>
          Gerade weil mich neue Technologien faszinieren und ich besser werden
          will, habe ich eine Learning Roadmap aufgesteltt, der ich in meiner
          Freizeit folge und mich stetig damit beschäftige. Außerdem finde ich
          es im Beruf des Software - entwicklers / engineers ohnehin wichtig
          sich stetig weiterzubilden. Zu sehen welche verblüffenden Techniken
          über die Zeit gefunden werden um bekannte Probleme in der Planung,
          Entwicklung und Veröffentlichung von Software zu beheben, ist
          unglaublich.
          <br /><br />
          Precisely because new technologies fascinate me and I want to get
          better, I have set up a learning roadmap that I follow in my free time
          and deal with it constantly. Besides, in the profession of a software
          developer/engineer, I find it important to keep learning anyway. To
          see what amazing techniques are found over time to fix known problems
          in the planning, development and release of software is incredible.
        </p>
      </div>
      <div class="word-cloud">
        <div id="docker">Docker</div>
        <div id="aws">AWS</div>
        <div id="reactnative">React Native</div>
        <div id="blender">Blender</div>
        <div id="firebase">Firebase</div>
        <div id="kotlin">Kotlin</div>
        <div id="flutter">Flutter</div>
        <div id="swiftui">SwiftUI</div>
        <div id="devops">Azure DevOps</div>
      </div>
    </div>
  </div>
</div>
