<div class="lighter-background">
  <div class="container">
    <app-section-header heading="Learning Roadmap"></app-section-header>
    <div class="two-column">
      <div class="columns">
        <p>
          Eine Learning Roadmap habe ich deswegen aufgestellt, weil mich neue
          Technologien faszinieren und ich mich weiter verbessern möchte. Mit
          dieser beschäftige ich mich stetig in meiner Freizeit weiter. Zudem
          finde ich es im Beruf des Software - entwicklers / engineers ohnehin
          wichtig sich fortwährend weiterzubilden. Zu sehen welche erstaunlichen
          Techniken über die Zeit gefunden werden, um bekannte Probleme in der
          Planung, Entwicklung und Veröffentlichung von Software zu beheben, ist
          für mich sehr interessant.
          <br /><br />
          I have set up a learning roadmap because I am fascinated by new
          technologies and want to improve myself further. I am constantly
          working on this in my free time. In addition, I think it is important
          in the profession of a software developer / engineer to keep learning.
          To see what amazing techniques are found over time to fix known
          problems in the planning, development and release of software is very
          interesting to me.
        </p>
      </div>
      <div class="word-cloud">
        <div id="docker">Docker</div>
        <div id="aws">AWS</div>
        <div id="reactnative">React Native</div>
        <div id="blender">Blender</div>
        <div id="firebase">Firebase</div>
        <div id="kotlin">Kotlin</div>
        <div id="flutter">Flutter</div>
        <div id="swiftui">SwiftUI</div>
        <div id="devops">Azure DevOps</div>
      </div>
    </div>
  </div>
</div>
