<div class="lighter-background">
    <div class="container">
        <app-section-header heading="Learning Roadmap"></app-section-header>
        <div class="two-column">
            <div class="columns">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque saepe sequi velit quidem natus est aut explicabo eaque temporibus, libero obcaecati officiis autem error alias minus delectus assumenda quod ullam.
                Enim minima distinctio officia saepe optio quisquam cum magnam obcaecati pariatur nemo doloremque modi quam ipsum ratione ullam deserunt doloribus aperiam totam atque, expedita aut odit! Ea fuga saepe officia!
                Error architecto non provident sunt hic, quos obcaecati quibusdam commodi fugit voluptatem in.</p>
            </div>
            <div class="word-cloud">
                <div id="docker">Docker</div>
                <div id="aws">AWS</div>
                <div id="reactnative">React Native</div>
                <div id="blender">Blender</div>
                <div id="firebase">Firebase</div>
                <div id="kotlin">Kotlin</div>
                <div id="flutter">Flutter</div>
                <div id="swiftui">SwiftUI</div>
                <div id="devops">Azure DevOps</div>
            </div>
        </div>
    </div>
</div>
