@import "src/styles.scss";

.circle-chart {
    position: relative;
    background-color: red;
    background-color: $background-color-lighter;

    .outer {
        border-radius: 100vh;
        box-shadow: 6px 6px 10px -1px $inset-shadow,
        -6px -6px 10px -1px $light-shadow;
    }

    .inner {
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 4px 4px 6px -1px $dark-shadow-smooth,
        inset -4px -4px 6px -1px $light-shadow,
        -0.5px -0.5px 0px $background-color-lighter,
        0.5px 0.5px 0px $dark-shadow-smoother,
        0px 12px 10px -10px $dark-shadow-smoothest;
    }

    .percent {
        color: $action-color-lighter;
        font-weight: 600;

    }

    circle {
        fill: none;
        stroke: $action-color;
        // animation: fill-circle 2s linear forwards;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@keyframes fill-circle {
    100% {
        stroke-dashoffset: 0;
    }
}