<div class="profile-background"></div>

    <div class="container">
      <div class="hero">
        <div class="hero__card">
          <h2>Hi I am</h2>
          <h1>Johannes <span class="primary-color">Hueber</span></h1>
          <p>Full Stack Developer</p>
          <app-icon-button color="primary" icon="download"
            >Download CV</app-icon-button
          >
        </div>
        <div class="hero__card">
          <img src="assets/img/790.png" alt="profile pic" class="hero__profile" />
        </div>
      </div>
    </div>

<div class="about--wrap">
    <div class="lighter-background--gradient about about--clip">
      <div class="container">
        <app-section-header heading="about"></app-section-header>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          suscipit quae architecto et unde rerum id at ratione blanditiis maiores
          tenetur odio qui quidem labore excepturi, vero explicabo eius? Dolores?
          Recusandae veniam sed numquam, blanditiis eos consectetur pariatur
          corrupti doloremque natus delectus quae ad perspiciatis reprehenderit
          molestias commodi itaque quasi hic ipsam aliquam autem dolor dicta quos
          iste. Ea, dolor! Doloremque, consequuntur quia! Assumenda distinctio
          accusamus nesciunt quae alias neque repellat quas soluta fugiat sapiente,
          fuga ducimus molestiae non animi reiciendis sunt voluptatum, dicta debitis
          ratione suscipit vitae quam ea?
        </p>
      </div>
    </div>
</div>
