<!-- <div class="profile-background"></div> -->

<div class="hero-wrapper">
  <div class="container">
    <div class="hero">
      <div class="hero__card">
        <p>Hi I am</p>
        <h1 class="hero__heading">Johannes Hueber</h1>
        <p>An emerging Full Stack Developer</p>
        <div class="hero__card--download">
          <a [href]="downloadCVEnglish" target="_blank"
            ><app-icon-button color="primary" icon="download"
              >Download CV EN</app-icon-button
            ></a
          >
          <a [href]="downloadCVGerman" target="_blank"
            ><app-icon-button color="primary" icon="download"
              >Download CV DE</app-icon-button
            ></a
          >
        </div>
      </div>
      <!-- <div class="hero__card">
        <img src="assets/img/790.png" alt="profile pic" class="hero__profile" />
      </div> -->
    </div>
  </div>

  <div class="about--wrap">
    <div class="lighter-background--gradient1 about--clip">
      <div class="container">
        <app-section-header heading="about"></app-section-header>
        <p>
          Mein Name ist Johannes Hueber und ich bin 28 Jahre alt. Mein Informatikstudium habe ich mit dem Master of Science abgeschlossen. Im Laufe meines Studiums habe ich immer mehr Freude daran entwickelt, Dinge zu gestalten, langsam wachsen zu sehen und so lange daran zu arbeiten, bis etwas Beeindruckendes entstanden ist. Außerdem lerne ich gerne neue Technologien und Programmiersprachen, um mein so Wissen zu erweitern.
          <br /><br />
          My name is Johannes Hueber and I am 28 years old. I graduated with a Master of Science in Computer Science. During my studies I have developed more and more joy in designing things, watching them grow slowly and working on them until something impressive has been created. I also enjoy learning new technologies and programming languages to expand my so knowledge.
        </p>
      </div>
    </div>
  </div>
</div>
