<!-- <div class="profile-background"></div> -->

<div class="hero-wrapper">
  <div class="container">
    <div class="hero">
      <div class="hero__card">
        <p>Hi I am</p>
        <h1 class="hero__heading">Johannes Hueber</h1>
        <p>An emerging Full Stack Developer</p>
        <a [href]="downloadCVEnglish" target="_blank"><app-icon-button color="primary" icon="download"
          >Download CV EN</app-icon-button
        ></a>
        <a [href]="downloadCVGerman" target="_blank"><app-icon-button color="primary" icon="download"
          >Download CV DE</app-icon-button
        ></a>
      </div>
      <!-- <div class="hero__card">
        <img src="assets/img/790.png" alt="profile pic" class="hero__profile" />
      </div> -->
    </div>
  </div>
  
  <div class="about--wrap">
    <div class="lighter-background--gradient about--clip">
      <div class="container">
        <app-section-header heading="about"></app-section-header>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          suscipit quae architecto et unde rerum id at ratione blanditiis maiores
          tenetur odio qui quidem labore excepturi, vero explicabo eius? Dolores?
          Recusandae veniam sed numquam, blanditiis eos consectetur pariatur
          corrupti doloremque natus delectus quae ad perspiciatis reprehenderit
          molestias commodi itaque quasi hic ipsam aliquam autem dolor dicta quos
          iste. Ea, dolor! Doloremque, consequuntur quia! Assumenda distinctio
          accusamus nesciunt quae alias neque repellat quas soluta fugiat
          sapiente, fuga ducimus molestiae non animi reiciendis sunt voluptatum,
          dicta debitis ratione suscipit vitae quam ea?
        </p>
      </div>
    </div>
  </div>
</div>
