<!-- <div class="profile-background"></div> -->

<div class="hero-wrapper">
  <div class="container">
    <div class="hero">
      <div class="hero__card">
        <p>Hi I am</p>
        <h1 class="hero__heading">Johannes Hueber</h1>
        <p>An emerging Full Stack Developer</p>
        <div class="hero__card--download">
          <a [href]="downloadCVEnglish" target="_blank"
            ><app-icon-button color="primary" icon="download"
              >Download CV EN</app-icon-button
            ></a
          >
          <a [href]="downloadCVGerman" target="_blank"
            ><app-icon-button color="primary" icon="download"
              >Download CV DE</app-icon-button
            ></a
          >
        </div>
      </div>
      <!-- <div class="hero__card">
        <img src="assets/img/790.png" alt="profile pic" class="hero__profile" />
      </div> -->
    </div>
  </div>

  <div class="about--wrap">
    <div class="lighter-background--gradient about--clip">
      <div class="container">
        <app-section-header heading="about"></app-section-header>
        <p>
          Mein Name ist Johannes Hueber und ich bin 28 Jahre alt. Mein
          Informatikstudium habe ich mit einem Master abgeschlossen. Über mein
          Studium hinweg habe ich immer mehr die Freude daran entdeckt, Dinge zu
          gestalten, langsam wachsen zu sehen und daran zu arbeiten, bis etwas
          beeindruckendes entstanden ist. Ich lerne außerdem gerne neue
          Technologien und Programmiersprachen, um mein Wissen zu erweitern.
          <br /><br />
          My name is Johannes Hueber and I am 28 years old. I completed my
          computer science studies with a master's degree. Throughout my
          studies, I have discovered more and more joy in designing things,
          slowly watching them grow and working on them until something
          impressive is created. I also enjoy learning new technologies and
          programming languages to expand my knowledge.
        </p>
      </div>
    </div>
  </div>
</div>
