<header class="navbar">
    <div class="nav__container">
        <nav class="nav">
            <div class="nav__header">
                <button class="nav-toggle" (click)="toggleNavItems()">
                    <span class="hamburger"></span>
                </button>
                <a class="logo" [routerLink]="['home']">
                    <img src="assets/img/logo.png" alt="cooking-logo">
                </a>
            </div>
            <ul class="nav__list" [@inOutAnimation]="showNavItems">
                <li class="nav__item" *ngIf="isLoggedIn"><a class="nav__link" [routerLink]="['home']" routerLinkActive="nav__link--active">Home</a></li>
                <li class="nav__item" *ngIf="!isLoggedIn"><a class="nav__link" [routerLink]="['login']" routerLinkActive="nav__link--active">Login</a></li>
                <li class="nav__item" *ngIf="isLoggedIn"><a class="nav__link" [routerLink]="['skills']" routerLinkActive="nav__link--active">Skills</a></li>
                <li class="nav__item" *ngIf="isLoggedIn"><a class="nav__link" [routerLink]="['projects']" routerLinkActive="nav__link--active">Projects</a></li>
                <li class="nav__item"><a class="nav__link" [routerLink]="['contact']" routerLinkActive="nav__link--active">Contact</a></li>
                <li class="nav__item" *ngIf="isLoggedIn"><app-icon-button (click)="onLogout()" color="outlined" icon="logout">Logout</app-icon-button></li>
            </ul>
        </nav>
    </div>
</header>