@import "src/styles.scss";

.login-wrapper {
  position: relative;
  height: calc(100vh - 15rem);

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
    background-image: url("/assets/img/fingerprint.png");
    background-repeat: no-repeat;
    background-blend-mode: darken;
  }
}

.container--login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  padding: 3rem;
  max-width: 500px;

  h1 {
    margin-bottom: 2rem;
  }

  .user-icon {
    // padding-inline: 20px;
    // padding-right: 0.5rem;
    margin-right: 0.5rem;
  }

  mat-icon {
    color: $heading-color;
  }
}

@media (max-width: 768px) {
  .user-icon {
    display: none;
  }

  .pw-button {
    display: none;
  }

  .login-form {
    padding: 1.5rem;
  }
}
