.contact-card {
    padding: 3rem;
    align-items: center;

    .contact-card__image {
        border-radius: 100vh;
        height: 200px;
        width: 200px;
        background-image: url("/assets/img/eatramen.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
    }

    p {
        max-width: 300px;
        text-align: center;
        margin: 0.5rem;
    }

    .contact-card__form {
        padding: 0 2rem;
    }
}

.contact-form {
    padding: 3rem;
    max-width: 500px;
    margin: 0 auto;
}

.earth {
    background-image: url("/assets/img/earth.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -260px;
    z-index: 10;
    opacity: 0.05;
    position: absolute;
    top: -6rem;
    left: 0;
    min-height: 400px;
    width: 100%;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .earth {
        background-position-x: -200px;
    }

    .contact-form {
        padding: 1.5rem;
    }
}